.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5dc; /* Light beige background */
}

.heroContent {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  line-height: 1;
}

.heroText p {
  margin: 0;
  position: relative;
}

.heroButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
}

.trialText {
  margin-top: 10px;
  font-size: 1rem;
  color: #000;
}

@media (max-width: 768px) {
  .heroText {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .heroText {
    font-size: 2.5rem;
  }
}
